*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:white;
    display:flex;
    justify-content:center;
    padding:20px;
}

.container{
    width:380px;
}

.div1{
    background:pink;
    color:rgb(194, 53, 76);
    text-align:center;
    border:2px solid rgb(194, 53, 76);
    padding:15px;
    border-radius:15px;
}

.div2{
    text-align:center;
    margin:20px 0;
    color:black;
    border:2px solid rgb(80, 191, 235);
    background:rgb(206, 235, 247);
    padding:15px;
    border-radius:15px;

}

.div2 h2{
    font-size:14px;
    color:green;
}

.div3{
    background:#fff0f6;
  border:2px solid rgb(194, 53, 76);
    border-radius:25px;
    text-align:center;
    padding:25px;
    color:#5b3b61;
}

.div3 p{
    margin-top:10px;
    font-size:18px;
}

.card{
    background:white;
    margin-top:20px;
    padding:25px;
    text-align:center;
    border-radius:20px;
   border:2px solid rgb(194, 53, 76);
}

.icon{
    font-size:40px;
}

.card h3{
    color:#a86ea5;
    margin:10px 0;
    letter-spacing:2px;
}

.card h2{
    color:#4d3a58;
}

.footer{
    margin-top:25px;
    padding:20px;
    text-align:center;
    background:#fff8d8;
    border:2px dashed #e6c95d;
    border-radius:20px;
    color:#5c4d67;
    font-size:22px;
}